.User-list {
  list-style: none;
}

h1 {
  background-color: green;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.table {
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}