<!DOCTYPE html>
<html>
<head>
  <!-- include our dependency on angular -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="avatar.js"></script>
<link rel="stylesheet" type="text/css" href="avatar.css">
  <meta charset="utf-8">
  <title>Budget Calculator</title>
</head>
<body>
  <div class="container">
  <div ng-app='app' ng-controller='mainCtrl'> <!-- [1],[2] -->
    <h1>Calculate Your Monthly Budget!</h1>
	<div class="form-group">
    <form name='userForm' ng-submit='addNew()'>
      <div class="form-group">
	  <label for="email">Income:</label>
      <input type="text" class ="form-control" id="incomeInput" placeholder='Enter Income Amount' ng-model='userForm.name'/> <!-- [3] -->
	  </div>
	  <div class="form-group">
	  <label for="email">Expenses:</label>
      <input type="number" class ="form-control" id="rentInput" placeholder='Enter Rent Amount' ng-model='userForm.rent'/>
	  <input type="number" class ="form-control" id="foodInput" placeholder='Enter Food Amount' ng-model='userForm.food'/>
	  <input type="number" class ="form-control" id="gasInput" placeholder='Enter Gas Amount' ng-model='userForm.gas'/>
	  <input type="number" class ="form-control" id="miscInput" placeholder='Enter Extra Expenses' ng-model='userForm.misc'/>
	  </div>
	  </form>
      <button type='submit' class="btn btn-default">Add New Expense</button>
    </div>


	</div>
	</div>
</div>
</div>
</body>
</html>
