<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="avatar.js"></script>
  <link rel="stylesheet" type="text/css" href="avatar.css">
  <meta charset="utf-8">
  <title>Budget Calculator</title>
</head>

<body>
  <div class="container">
    <div ng-app='app' ng-controller='mainCtrl'>
      <h1>Calculate Your Monthly Budget!</h1>
      <div class="form-group">
        <form name='userForm' ng-submit='addNew(userForm)'>
          <strong>Projected Monthly Income: </strong>
          </br>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
            <input type="number" step=".01" class="form-control" id="incomeInput" placeholder='Enter Income Amount' ng-model='userForm.income'/>
          </div>
          <strong>Projected Monthly Expenses: </strong>
          </br>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
            <input type="number" step=".01" class="form-control" id="rentInput" placeholder='Enter Rent Amount' ng-model='userForm.rent'
            />
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
            <input type="number" step=".01" class="form-control" id="foodInput" placeholder='Enter Food Amount' ng-model='userForm.food'/>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
            <input type="number" step=".01" class="form-control" id="gasInput" placeholder='Enter Gas Amount' ng-model='userForm.gas'/>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-usd"></i>
            </span>
            <input type="number" step=".01" class="form-control" id="miscInput" placeholder='Enter Extra Expenses' ng-model='userForm.misc'/>
          </div>
          <div class="input-group">
            <button type='submit' step=".01" class="btn btn-default">Calculate!</button>
          </div>
        </form>
      </div>
      <table style='width:100%' id='table'>
        <tr>
          <th>Income</th>
          <th>Expenses</th>
          <th>Difference</th>
        </tr>
        <tr>
          <th>${{users.income}}</th>
          <th>${{users.expenses}}</th>
          <th>${{users.income - users.expenses}}</th>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>